/* SPECIAL CLASSES 
===========================================*/
.sl-content {width:90%;margin:2em auto;}
.sl-year {  width: 70%;text-align: center;padding: 5px 0;color: #83C392;font-weight: 700;margin: 0 auto 1em auto;font-size: 3em;border-bottom: 4px solid #83C392;}
.sl-date {border-bottom: 1px #ddd solid;width: 90%;margin: 0 auto;}
	.sl-date h4 {text-align: left;font-size: .8em;position: relative;top: 52px;text-transform: uppercase;color: #666;}
	.sl-date h4:last-of-type {text-align: right;top:25px;}
.sl-milestone {background: rgba(255, 126, 126, 0.7);width: 100%;padding: 2em 0;margin: 0 0 3em 0;}
	.sl-milestone h2 {}
	.sl-milestone h3 {text-align:center;}
.sl-link {text-align:center;text-transform: uppercase;margin-top: 2em;}

/* HEADER STYLE 
===========================================*/
#slick-header>div:nth-of-type(2) a {color:#83C392;}
#slick-header>div:nth-of-type(2) a:hover {color:#618A6B;}
#slick-header .slick-social-hed {top:-50px;}

/* BODY STYLE 
===========================================*/
#slick-body {width:100%;}
	#slick-body a {color:#4B9A5D;}
	#slick-body h3 {font-size:1.5rem;font-weight:700;}


/* BLOCKQUOTE STYLE 
===========================================*/
.sl-entry .content blockquote {width: 100%;float: none;margin: 2em 0;border-color: #555;color: #555;font-weight: 400;font-family: "crimson text";padding: 1em 0;}
#slick-contain .sl-entry .content blockquote p {font-size: .9em;text-align: right;font-family:"Roboto Condensed",sans-serif;margin-top: 10px;}

/* IMAGE STYLE 
===========================================*/
.sl-full-img {width:100%;}
	.sl-full-img img {width:100%;height:auto;}
.sl-full-cap {}
	.sl-full-cap p {text-align: right;margin-right: 1%;font-size: .8em;}
.sl-lead-img {}
	.sl-lead-img img {width:100%;height:auto;border: 1px #ddd solid;}

/* ENTRY STYLE 
===========================================*/
.sl-entry {width: 50%;margin: 2em 25%;overflow:hidden;padding-bottom: 4em;}
	.sl-entry .meta {display:none;min-height:60px;}
		.sl-entry .meta img {max-width: 60px;}
	.sl-entry .content {margin:2em auto 0 auto;width:96%;}
		.sl-entry .content h3 {margin: 0 0 3em 0;}
.sl-year-contain>.sl-entry:last-of-type {border:none;}

/* TYPE DEPENDENT STYLE 
===========================================*/
#slick-body .sl-entry[type="milestone"] .sl-link a, #slick-body .sl-entry[type="milestone"] blockquote a  {color:#BA8585;}
/*#slick-body .sl-entry[type="ed_art"] .sl-link a, #slick-body .sl-entry[type="ed_art"] blockquote a {color:#C184AE;}
#slick-body .sl-entry[type="ed_report"] .sl-link a, #slick-body .sl-entry[type="ed_report"] blockquote a {color:#83C392;}
#slick-body .sl-entry[type="ed_proj"] .sl-link a, #slick-body .sl-entry[type="ed_proj"] blockquote a {color:#84BCBC;}
#slick-body .sl-entry[type="update"] .sl-link a, #slick-body .sl-entry[type="update"] blockquote a {color:#B5B784;}*/

/* LANDING PAGE STYLE 
===========================================*/
.sl-storyline {width:50%;margin:1em auto;padding:2em 0;border-bottom: 1px solid #aaa;}
	.sl-storyline>div:first-of-type {}
		.sl-storyline img {width:100%;height:auto;}
	.sl-storyline>div:last-of-type {margin: 2em 0 0 0;}
		.sl-storyline>div:last-of-type h2 {}
		.sl-storyline>div:last-of-type p:first-of-type {font-style: italic;text-align: center;margin: 0;}
		.sl-storyline>div:last-of-type p:last-of-type {}

/* MOBILE STYLE 
===========================================*/

@media screen and (min-width:768px){
	.sl-entry .meta {display:none;}
	.sl-entry .content {width:100%;}
}

@media screen and (min-width:1028px){
	.sl-lead-img img {width:70%;margin:20px auto;height:auto;}
	#slick-intro, .sl-storyline, .sl-content {width:50%;}

}

@media screen and (min-width:1280px){
	.sl-date {width: 60%;}
}
